
.banner{
    padding: 3rem 0;
    background: url("https://images.unsplash.com/photo-1581873372796-635b67ca2008?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    color: white; 
    background-size:cover;
    background-position: center ;
    display: flex; 
    justify-content: center;
}

.row-grey{
    background-color: #ebebeb;
}

.row-white{
    background-color: white;
}
